.contacts__section {
  @include mq-custom(1550px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq('desktop') {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq-custom(1024px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include mq('tablet') {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include mq('phone') {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .element {
    position: relative;
    z-index: 2;
    width: 25%;
    flex: 1 1 25%;
    padding: 60px 50px 30px;
    justify-content: space-between;
    text-align: center;
    border-right: 1px solid #f0ebeb;

    @include mq('desktop') {
      padding: 60px 20px 30px;
    }

    @include mq-custom(1024px) {
      width: 50%;
      flex: 1 1 50%;
      margin-bottom: 50px;
    }

    @include mq('phone') {
      width: 100%;
      flex: 1 1 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 30px 0;
      text-align: left;
      border-right: none;
      border-bottom: 1px solid #f0ebeb;;
      margin-bottom: 0;
    }

    &:nth-last-child(1) {
      border-right: none;

      @include mq('phone') {
        border-bottom: none;
      }
    }

    &:nth-child(2n) {
      @include mq-custom(1024px) {
        border-right: none;
      }
    }

    .icon_wrap {
      margin-top: 25px;

      @include mq('phone') {
        order: 1;
        padding-right: 30px;
        margin-top: 0;
      }
    }

    .address-icon {
      width: 36px;
      height: 36px;
    }

    .phone-icon {
      width: 38px;
      height: 38px;
    }

    .time-icon {
      width: 38px;
      height: 38px;
    }

    .email-icon {
      width: 39px;
      height: 29px;
    }

    .text_wrap {
      @include mq('phone') {
        order: 2;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }

      .title {
        p {
          font: 20px $DinBold;
          font-weight: 600;
          color: #616161;

          @include mq('tablet') {
            font: 16px $DinBold;
            font-weight: 600;
          }

          @include mq-custom(600px) {
            font: 14px $DinBold;
            font-weight: 600;
          }
        }
      }

      .text {
        margin-top: 25px;
        p {
          font: 18px/28px $DinPro;
          font-weight: 400;
          color: black;

          @include mq('tablet') {
            font: 16px/26px $DinPro;
            font-weight: 400;
          }

          @include mq-custom(600px) {
            font: 14px/24px $DinPro;
            font-weight: 400;
          }
        }
      }

      .phone {
        margin-top: 25px;

        a {
          display: block;
          margin-top: 10px;
          @include auto;
          font: 18px $DinBold;
          font-weight: 600;
          color: black;
          cursor: pointer;

          @include mq('tablet') {
            font: 16px $DinBold;
            font-weight: 600;
          }

          @include mq-custom(600px) {
            font: 14px $DinBold;
            font-weight: 600;
          }

          @include mq('phone') {
            margin-left: 0;
          }
        }
      }

      .link {
        margin-top: 25px;

        a {
          display: block;
          @include auto;
          font: 18px $DinMedi;
          font-weight: 500;
          color: $green;
          text-decoration: underline;
          cursor: pointer;
          transition: all .3s linear;

          &:hover {
            color: #027f3d;
          }

          @include mq('tablet') {
            font: 16px $DinMedi;
            font-weight: 500;
          }

          @include mq-custom(600px) {
            font: 14px $DinMedi;
            font-weight: 500;
          }

          @include mq('phone') {
            margin-left: 0;
          }
        }
      }
    }
  }
}
