.page-header {
  width: 100%;
  max-width: 1920px;
  @include auto;
  height: 190px;
  padding: 20px 0;

  @include mq-custom(1550px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq('tablet') {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq('phone') {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container, .page-title_wrap {
    height: 100%;
    justify-content: center;
  }

  .shop-type {
    margin-top: 10px;
    text-align: center;

    span {
      position: relative;
      padding-left: 28px;
      font: 16px/22px DINRoundProMedi, sans-serif;
      font-weight: 500;
      color: white;

      &:before {
        position: absolute;
        content: '';
        z-index: 1;
        left: 0;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-color: white;
        mask-image: url('../img/123_1.svg');
        mask-size: 16px 15px;
      }
    }
  }
}

.bread-crumbs {
  align-items: center;
}

.bread-crumbs_wrap {
  margin-left: 14px;

  li {
    font: 12px $DinLight;
    font-weight: 300;
    color: white;
  }

  li.active {
    text-decoration: underline;
  }

  span {
    margin: 0 10px;
    font: 12px $DinLight;
    font-weight: 300;
    color: white;
  }
}

.page-title {

  h1 {
    font: 52px $DinBold;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;

    @include mq-custom(450px) {
      font: 48px $DinBold;
    }

    @include mq('phone') {
      font: 32px $DinBold;
      font-weight: bold;
    }
  }
}