#about-center {
  width: 100%;
  max-width: 1920px;
  @include auto;
  background-image:url(../img/about-center_bg_left-circle.png), url(../img/about-center_bg_right-circle.png), url(../img/about-center_bg.jpg);
  background-position:  -65px center, right center, center top;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.about-center_left-part {
  width: 50%;
  flex: 1 1 50%;
  padding-top: 210px;
  padding-right: 20px;

  .title {
    h2 {
      font: 32px/40px $DinBold;
      font-weight: bold;
      color: white;
    }
  }

  .text {
    margin-top: 60px;

    p {
      margin-bottom: 30px;
      font: 16px/24px $DinPro;
      font-weight: 500;
      color: white;
    }
  }
}

%circle {
  width: 296px;
  height: 296px;
  border-radius: 50%;
}

.about-center_right-part {
  position: relative;
  width: 50%;
  flex: 1 1 50%;
  margin-top: 125px;
  margin-bottom: 135px;

  .insta-wrap {
    width: 100%;
    flex: 1 1 100%;
    margin-left: 230px;

    .insta {
      padding-bottom: 60px;
      @extend %circle;
      background: rgb(238,47,65);
      background: linear-gradient(0deg, rgba(238,47,65,1) 0%, rgba(243,104,63,1) 100%);
    }
  }

  .vk-wrap {
    margin-left: 35px;
    margin-top: -111px;

    .vk {
      padding-right: 30px;
      padding-top: 20px;
      @extend %circle;
      background: rgb(74,118,168);
      background: linear-gradient(0deg, rgba(74,118,168,1) 0%, rgba(98,142,192,1) 100%);
    }
  }

  .fb-wrap {
    margin-left: -22px;
    margin-top: -111px;

    .fb {
      padding-left: 30px;
      padding-top: 20px;
      @extend %circle;
      background: rgb(66,103,178);
      background: linear-gradient(0deg, rgba(66,103,178,1) 0%, rgba(53,84,148,1) 100%);
    }
  }

  .text-wrap {
    margin-left: 25px;

    .number {
      font: 32px/24px $DinBold;
      font-weight: bold;
      color: white;
    }

    .text {
      font: 14px/24px $DinPro;
      font-weight: 400;
      color: white;
    }
  }

  .about-center_icon {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-top: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 100%);
  }
}