#section-10 {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  @include auto;
}

.section-10__slider-wrap {
  position: relative;
}

.section-10__slider-nav {
  position: absolute;
  width: 322px;
  height: 65px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -32px;
  background: white;
  border-radius: 30px;

  .prev {
    margin-right: 20px;
    width: 69px;
    height: 10px;
    background: url("../img/section-10_arrow-left.png") center center no-repeat;
  }

  .next {
    margin-left: 20px;
    width: 69px;
    height: 10px;
    background: url("../img/section-10_arrow-right.png") center center no-repeat;
  }

  .numbers {
    span {
      font: 18px $DinBold;
      font-weight: bold;
      color: #000;
    }

    .active {
      color: $green;
    }
  }
}

#section-10__slider {
  .slide {
    img {
      display: block;
    }
  }
}