#section-3 {
  width: 100%;
  max-width: 1920px;
  @include auto;
  background: url(../img/section-3_bg.jpg) center top no-repeat;
  background-size: cover;

  @include mq('desktop') {
    padding-left: 40px;
    padding-right: 40px;
    background: url(../img/section-3_bg-1280.jpg) center top no-repeat;
    background-size: cover;
  }

  @include mq-custom(1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq('tablet') {
    background: url(../img/section-3_bg-768.jpg) center top no-repeat;
    background-size: cover;
  }

  @include mq-custom(740px) {
    padding-left: 0;
    padding-right: 0;
  }

  @include mq('phone') {
    background: url(../img/section-3_bg-768.jpg) center top no-repeat;
    background-size: cover;
  }

  .container {
    padding-top: 100px;
    padding-bottom: 80px;

    @include mq-custom(740px) {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }
}

.section-3__title-wrap {
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
  flex: 1 1 100%;

  @include mq-custom(1024px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  .title {
    width: 50%;
    flex: 1 1 50%;

    h2 {
      order: 1;
      font: 52px $DinBold;
      font-weight: 600;
      color: white;
      text-transform: uppercase;

      @include mq-custom(1200px) {
        order: 2;
        width: 100%;
        flex: 1 1 100%;
      }

      @include mq-custom(740px) {
        font: 32px $DinBold;
        font-weight: 600;
      }
    }

    p {
      order: 3;
      width: 100%;
      flex: 1 1 100%;
      margin-top: 10px;
      font: 26px $DinPro;
      font-weight: 400;
      color: white;
      text-transform: uppercase;

      @include mq-custom(1200px) {
        order: 2;
        width: auto;
        flex: 1 1 auto;
      }

      @include mq-custom(740px) {
        font: 18px $DinPro;
        font-weight: 400;
      }
    }
  }

  .date {
    order: 2;
    width: 50%;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;

    @include mq-custom(1200px) {
      order: 3;
      width: auto;
      flex: 1 1 auto;
    }

    .icon {
      margin-right: 20px;

      img {
        display: block;
      }
    }

    .text {
      p {
        font: 26px/36px $DinPro;
        font-weight: 400;
        color: white;
        text-transform: none;

        @include mq-custom(1024px) {
          font: 22px/36px $DinPro;
          font-weight: 400;
        }

        @include mq-custom(740px) {
          font: 15px/36px $DinPro;
          font-weight: 400;
        }
      }
    }
  }

  .cinema-logo {

    img {
      display: block;
    }

    @include mq-custom(1024px) {
      margin-top: 10px;
    }
  }
}

.section-3__slider_nav-wrap {
  position: relative;

  @include mq-custom(1024px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  .slider-nav {
    @include slider-nav;

    @include mq-custom(740px) {
      display: none;
    }

    .prev, .next {
      top: 30%;
      transform: translateY(-30%);
    }

    .prev {
      left: -74px;
      background: url("../img/slider-icon_prev-white.png") center center no-repeat;

      &:before {
        @include pseudo(1,auto,12px,auto,100%);
        width: 2000px;
        height: 2px;
        margin-right: 39px;
        background: $green;
      }

      @include mq-custom(1650px) {
        left: -31px;
      }

      @include mq-custom(1024px) {
        left: -15px;
      }
    }

    .next {
      right: -74px;
      background: url("../img/slider-icon_next-white.png") center center no-repeat;

      &:after {
        @include pseudo(1,100%,12px,auto,auto);
        width: 2000px;
        height: 2px;
        margin-left: 39px;
        background: $green;
      }

      @include mq-custom(1650px) {
        right: -31px;
      }

      @include mq-custom(1024px) {
        right: -15px;
      }
    }
  }
}

.section-3__slider {

  .swiper-slide {
    width: 222px !important;
    @include auto;

    .poster {
      position: relative;
      margin-top: 10px;
      margin-bottom: 24px;
      width: 212px;

      &:after {
        @include pseudo(1,10px,-10px,20px,-10px);
        background: white;

        @include mq-custom(550px) {
          display: none;
        }
      }

      img {
        position: relative;
        z-index: 2;
        display: block;
        max-width: 212px;
      }
    }

    .title {
      p {
        font: 16px $DinBold;
        font-weight: 600;
        color: white;
      }
    }

    .time {
      margin-top: 20px;

      p {
        font: 14px $DinPro;
        font-weight: 400;
        color: white;
      }
    }

    .btn-order {
      margin-top: 23px;
      @include btn-more(165px,35px,white,white,14px,black);

      img {
        width: auto !important;
      }
    }
  }
}

