#section-map {
  width: 100%;
  max-width: 1920px;
  @include auto;

  .container {
    padding: 0;
  }
}

.section-map__address-wrap {
  position: relative;
  z-index: 2;
  margin-top: -217px;
  justify-content: space-between;
  box-shadow: 0 0 25px 0 rgba(.75,.75,.75,.5);

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 65px 35px 40px;
    width: 33%;
    flex: 1 1 33%;
    border-right: 1px solid $light-grey;
    background: white;

    &:nth-last-child(1) {
      border-right: none;
    }

    .title {
      p {
        font: 18px/36px $DinBold;
        font-weight: bold;
        color: $dark-grey;
      }
    }

    .desc {
      p {
        font: 14px/18px $DinPro;
        font-weight: 400;
        color: $dark-grey;
        text-align: center;
      }
    }

    .show {
      p {
        font: 14px $DinMedi;
        font-weight: 500;
        color: $green;
      }
    }

    .nav-tabs {
      .tab {
        margin-right: 20px;
        font: 14px $DinMedi;
        font-weight: 500;
        color: #a8a9a9;
        border-bottom: 1px dotted;
        cursor: pointer;

        &:nth-last-child(1) {
          margin-right: 0;
        }

        &:hover {
          font: 14px $DinMedi;
          font-weight: 500;
          color: $green;
          border: none;
        }
      }

      .tab.active {
        font: 14px $DinMedi;
        font-weight: 500;
        color: $green;
        border: none;
      }
    }
  }
}

.metro-wrap {

  .desc {
    margin-top: 70px;
  }

  .show {
    margin-top: 60px;
  }

  .icon {
    margin-top: 40px;
  }
}

.car-wrap {

  .nav-tabs {
    margin-top: 30px;
  }

  .tabs-cont_wrap {
    margin-top: 30px;
  }

  .icon {
    margin-top: 25px;
  }
}

.bus-wrap {
  .tabs-cont_wrap {
    .arrow-img {
      margin: 15px 0;

      img {
        display: block;
        @include auto;
      }
    }
  }
}