#shop-center {
  width: 100%;
  height: 100%;
  @include auto;
  background: url("../img/shop-center_bg.jpg") center top no-repeat;

  .container {
    justify-content: space-between;
  }
}

.shop-center__left-part {
  padding-top: 226px;
  width: 50%;
  flex: 1 1 50%;

  .title {
    h2 {
      font: 36px/48px $DinBold;
      font-weight: bold;
      color: white;
    }
  }

  .text {
    margin-top: 60px;

    p {
      font: 16px/24px $DinPro;
      font-weight: 400;
      color: white;
    }
  }

  .logos {
    margin-top: 65px;

    img {
      display: block;
      margin-right: 69px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}

.shop-center__right-part {
  padding-top: 226px;
  padding-bottom: 235px;
  width: 50%;
  flex: 1 1 50%;
  justify-content: flex-end;

  .element {
    position: relative;
    width: 231px;
    height: 171px;
    border: 1px solid white;
    cursor: pointer;

    &:before {
      @include  pseudo;
      width: 100%;
      height: 100%;
    }

    /*&:hover {
      &:before {
        z-index: 1;
        top: -20px;
        left: -20px;
        width: 270px;
        height: 210px;
        border: 1px solid white;
        background: white;
      }
    }*/

    img {
      position: relative;
      z-index: 2;
    }
  }
  .element.active {
    &:before {
      z-index: 1;
      top: -20px;
      left: -20px;
      width: 270px;
      height: 210px;
      border: 1px solid white;
      background: white;
    }
  }
}