@import 'reset';
@import 'fonts';

/* Переменные */
$color-red: #ea271a;
$DinPro: DINRoundPro, sans-serif;
$DinLight: DINRoundProLight, sans-serif;
$DinBlack: DINRoundProBlack, sans-serif;
$DinMedi: DINRoundProMedi, sans-serif;
$DinBold: DINRoundProBold, sans-serif;
$grey: #a3a3a3;
$light-grey: #ebebeb;
$green: #00a84f;
$blue: #008ad2;
$dark-grey: #2e2222;

/* Миксины */

$breakpoints: (
        "phone":        414px,
        "tablet":       768px,
        "desktop":      1280px,
        "desktop-wide": 1920px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq-custom($width, $type: max) {
  @if $type == min {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin pseudo($z:-1,$left:0,$top:0,$bottom:0,$right:0) {
  position: absolute;
  content: '';
  z-index: $z;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
}

/* extends */

@mixin btn-more($width: 190px, $height: 55px, $border-color: white, $background: none, $font-size: 14px, $font-color: white) {
  button {
    width: $width;
    height: $height;
    border: 1px solid $border-color;
    border-radius: 30px;
    background: $background;
    cursor: pointer;
  }

  span {
    display: block;
    font: $font-size $DinBold;
    font-weight: bold;
    color: $font-color;
  }

  img {
    display: block;
    margin-left: 14px;
  }
}

@mixin slider-nav {
  .prev, .next {
    position: absolute;
    width: 16px;
    height: 26px;
    top: 50%;
    transform: translateY(-50%);

    span {
      position: relative;
    }
  }
}
@mixin placeholder {
  ::-webkit-input-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* webkit */
  ::-moz-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* Firefox 19+ */
  :-moz-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* Firefox 18- */
  :-ms-input-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* IE */

  :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  :focus:-ms-input-placeholder      {opacity:0;}/* IE */
}

/* flex классы */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.green {
  color: $green;
}

/*Контейнер для всего сайта */
#wrapper {
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

/*.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  margin: 0 auto;

  @include mq('desktop') {
    max-width: 1170px;
    padding: 0 16px;
  }

  @include mq('tablet') {
    max-width: 720px;
    padding: 0 6px;
  }

  @include mq('phone') {
    max-width: 378px;
    padding: 0;
  }
}*/

.container {
  width: 100%;
  max-width: 1465px;
  padding-left: 0;
  padding-right: 0;
  @include auto;

  @include mq-custom(1500px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq('desktop') {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }

  @include mq-custom(1180px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq('tablet') {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }

  @include mq-custom(730px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq('phone') {
    max-width: 378px;
    padding-left: 0;
    padding-right: 0;
  }

  @include mq-custom(388px) {
    width: 388px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Шапка */
#main-header {
  width: 100%;
  background: #f8f9fb;
  border-bottom: 1px solid #f0ebeb;
  overflow: hidden;

    .container {
      justify-content: space-between;
      align-items: center;
    }
}

/* Логотип */
.header-logo {
  position: relative;
  z-index: 2;
  padding: 21px 47px 21px 0;
  background: white;
  border-right: 1px solid #f0ebeb;

  @include mq('desktop') {
    padding: 21px 34px 21px 0;
  }

  @include mq-custom(1180px) {
    order: 3;
  }

  @include mq-custom(500px) {
    padding: 15px 21px 15px 0;
  }

  &:before {
    @include pseudo(-1,-1000px);
    background: white;
  }

  img {
    display: block;
  }
}

.header-address {

  @include mq-custom(1180px) {
    order: 1;
    position: relative;
    z-index: 2;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 50%;
    flex: 1 1 50%;
    justify-self: flex-start;
    background: white;

    &:before {
      @include pseudo(-1,-1000px);
      background: white;
      border-bottom: 1px solid #f0ebeb;
    }
  }

  @include mq('tablet') {
    width: auto;
    flex: 1 1 auto;
  }

  @include mq-custom(700px) {
    display: none;
  }
}

.header-address, .header-time {
  align-items: center;
  justify-content: flex-start;
}

.header-address_icon {
  margin-right: 23px;

  img {
    display: block;
  }
}

.header-address_text {
  p {
    font: 14px/18px $DinBold;
    font-weight: 600;
    color: #000;

    span {
      font: 14px/18px $DinLight;
      font-weight: 300;
      color: #000;
    }

    br {

      @include mq-custom(1180px) {
        display: none;
      }
    }
  }
}

.header-time_icon {
  margin-right: 23px;

  img {
    display: block;
  }
}

.header-time {

  @include mq-custom(1180px) {
    position: relative;
    z-index: 2;
    order: 2;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 50%;
    flex: 1 1 50%;
    justify-self: flex-start;
    background: white;

    &:before {
      @include pseudo(-1,0,0,0,-1000px);
      background: white;
      border-bottom: 1px solid #f0ebeb;
    }
  }

  @include mq('tablet') {
    width: auto;
    flex: 1 1 auto;
  }

  @include mq-custom(700px) {
    display: none;
  }
}

.header-time_text {
  p {
    font: 14px/18px $DinBold;
    font-weight: 600;
    color: #000;

    span {
      font: 14px/18px $DinLight;
      font-weight: 300;
      color: #000;
    }

    br {

      @include mq-custom(1180px) {
        display: none;
      }
    }
  }
}

.header-phone {

  @include mq-custom(1180px) {
    order: 4;
  }

  a {
    display: block;
    font: 24px/18px $DinBold;
    font-weight: 600;
    color: #000;
  }

  @include mq-custom(700px) {
    display: none;
  }
}

.header-buttons {

  @include mq-custom(1180px) {
    order: 5;
  }

  .btn {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    background: white;
    border: 1px solid $light-grey;
    border-radius: 50%;

    @include mq-custom(1180px) {
      margin-right: 10px;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }

    .text {
      font: 18px/18px $DinMedi;
      font-weight: 600;
      color: #000;
      text-transform: uppercase;
    }
  }
}

.header-menu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: url(../img/menu-icon.png) center center no-repeat;

  @include mq-custom(1180px) {
    order: 6;
  }

  .btn-menu {
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: flex-end;

    span {
      display: block;
      height: 2px;
      margin-right: 15px;
      margin-bottom: 3px;
    }

    .one, .three {
      width: 14px;
      background: white;
    }

    .two {
      width: 19px;
      background: white;
    }

    .three {
      margin-bottom: 0;
    }
  }
}

/* Меню */

#header_main-nav {

  @include mq('tablet') {
    display: none;
  }

  .nav {
    padding-top: 19px;
    padding-bottom: 19px;
    align-items: center;
    justify-content: space-between;

    .nav-item {
      flex: 1 1 auto;
      border-right: 1px solid #f0ebeb;

      &:nth-last-child(1) {
        border-right: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          display: block;
          margin-right: 15px;

          @include mq-custom(800px) {
            margin-right: 10px;
          }
        }

        span {
          display: block;
          padding-bottom: 2px;
          font: 15px $DinMedi;
          font-weight: 500;
          color: #000;
        }

        .shop-link {
          border-bottom: 2px solid #b796c5;
        }

        .cafe-link {
          border-bottom: 2px solid #94d8f1;
        }

        .news-link {
          border-bottom: 2px solid #7dc142;
        }

        .cinema-link {
          border-bottom: 2px solid #f05838;
        }

        .kids-link {
          border-bottom: 2px solid #e8a83a;
        }

        .service-link {
          border-bottom: 2px solid #ce6fab;
        }
      }
    }
  }
}

@import "index";