@import 'base/reset';
@import 'base/fonts';

/* Переменные */
@import 'base/variables';

/* Миксины */
@import 'base/mixins';

/* flex классы */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.green {
  color: $green;
}

/*Контейнер для всего сайта */
#wrapper {
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

/*.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  margin: 0 auto;

  @include mq('desktop') {
    max-width: 1170px;
    padding: 0 16px;
  }

  @include mq('tablet') {
    max-width: 720px;
    padding: 0 6px;
  }

  @include mq('phone') {
    max-width: 378px;
    padding: 0;
  }
}*/

.swiper-container {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1465px;
  padding-left: 0;
  padding-right: 0;
  @include auto;

  @include mq-custom(1550px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq('desktop') {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }

  @include mq-custom(1180px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq('tablet') {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }

  @include mq-custom(730px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq-custom(450px) {
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq('phone') {
    max-width: 378px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Шапка */
#main-header {
  width: 100%;
  max-width: 1920px;
  @include auto;
  background: #f8f9fb;
  border-bottom: 1px solid #f0ebeb;
  overflow: hidden;

    .container {
      justify-content: space-between;
      align-items: center;
    }
}

/* Логотип */
.header-logo {
  position: relative;
  z-index: 2;
  padding: 21px 47px 21px 0;
  background: white;
  border-right: 1px solid #f0ebeb;

  @include mq('desktop') {
    padding: 21px 34px 21px 0;
  }

  @include mq-custom(1180px) {
    order: 3;
  }

  @include mq-custom(500px) {
    padding: 15px 21px 15px 0;
  }

  @include mq-custom(360px) {
    padding: 5px 10px 5px 0;
  }

  &:before {
    @include pseudo(-1,-1000px);
    background: white;
  }

  img {
    display: block;
    width: 226px;

    @include mq-custom(500px) {
      width: 128px;
    }
  }
}

.header-address {

  @include mq-custom(1180px) {
    order: 1;
    position: relative;
    z-index: 2;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 50%;
    flex: 1 1 50%;
    justify-self: flex-start;
    background: white;

    &:before {
      @include pseudo(-1,-1000px);
      background: white;
      border-bottom: 1px solid #f0ebeb;
    }
  }

  @include mq('tablet') {
    width: auto;
    flex: 1 1 auto;
  }

  @include mq-custom(700px) {
    display: none;
  }
}

.header-address, .header-time {
  align-items: center;
  justify-content: flex-start;
}

.header-address_icon {
  margin-right: 23px;

  img {
    display: block;
    width: 24px;
  }
}

.header-address_text {
  p {
    font: 14px/18px $DinBold;
    font-weight: 600;
    color: #000;

    span {
      font: 14px/18px $DinLight;
      font-weight: 300;
      color: #000;
    }

    br {

      @include mq-custom(1180px) {
        display: none;
      }
    }
  }
}

.header-time_icon {
  margin-right: 23px;

  img {
    display: block;
    width: 24px;
  }
}

.header-time {

  @include mq-custom(1180px) {
    position: relative;
    z-index: 2;
    order: 2;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 50%;
    flex: 1 1 50%;
    justify-self: flex-start;
    background: white;

    &:before {
      @include pseudo(-1,0,0,0,-1000px);
      background: white;
      border-bottom: 1px solid #f0ebeb;
    }
  }

  @include mq('tablet') {
    width: auto;
    flex: 1 1 auto;
  }

  @include mq-custom(700px) {
    display: none;
  }
}

.header-time_text {
  p {
    font: 14px/18px $DinBold;
    font-weight: 600;
    color: #000;

    span {
      font: 14px/18px $DinLight;
      font-weight: 300;
      color: #000;
    }

    br {

      @include mq-custom(1180px) {
        display: none;
      }
    }
  }
}

.header-phone {

  @include mq-custom(1180px) {
    order: 4;
  }

  a {
    display: block;
    font: 24px/18px $DinBold;
    font-weight: 600;
    color: #000;
  }

  @include mq-custom(700px) {
    display: none;
  }
}

.header-buttons {

  @include mq-custom(1180px) {
    order: 5;
  }

  .location, .parking {
    cursor: pointer;

    img {
      width: 13px;
    }
  }

  .btn {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    background: white;
    border: 1px solid $light-grey;
    border-radius: 50%;
    transition: all .3s linear;

    &:hover {
      border: 1px solid $green;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }

    @include mq-custom(1180px) {
      margin-right: 10px;
    }

    @include mq-custom(360px) {
      margin-right: 0;
    }

    .text {
      font: 18px/18px $DinMedi;
      font-weight: 600;
      color: #000;
      text-transform: uppercase;
    }
  }
}

.header_search-wrap.active {
  .header-search {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: all .3s linear;
  }

  .header_btn-search {
    background: none;
    border: none;
  }
}

.header_search-wrap {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  transition: all .3s linear;

  @include mq-custom(360px) {
    margin-right: 0;
  }

  &:hover {
    .header_btn-search {
      border: 1px solid $green;
    }
  }

  .header-search {
    opacity: 0;
    visibility: hidden;
    width: 365px;
    height: 45px;
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    transition: all .3s linear;
    cursor: pointer;
  }

  form {
    position: relative;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;

    span {
      font: 14px $DinPro;
      font-weight: 400;
      color: black;
    }
  }

  input {
    width: 365px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #ebebeb;
    padding: 15px;
  }

  .header_btn-search {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    margin-right: 0;
    background: white;
    border: 1px solid $light-grey;
    border-radius: 50%;

    img {
      width: 14px;
    }
  }
}

.header-menu.active {
  background: url('../img/menu.svg') center center no-repeat;
}

.header-menu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: url('../img/menu_close.svg') center center no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: background .3s linear;

  &:hover {
    background: url('../img/menu-icon-hover.png') center center no-repeat;
  }

  @include mq-custom(1180px) {
    order: 6;
  }
}

/* Меню */

#header_main-nav {

  @include mq('tablet') {
    display: none;
  }

  .nav {
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between;

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      border-right: 1px solid #f0ebeb;

      &:nth-last-child(1) {
        border-right: none;
      }

      a {
        //transition: all .3s linear;

        span {
          display: block;
          padding-bottom: 2px;
          font: 15px $DinMedi;
          font-weight: 500;
          color: #000;
          transition: all .3s linear;
        }
      }

      .shop-link {
        background: url("../img/menu_1.svg");
        background-size: 21px auto;
        background-position: left center;
        background-repeat: no-repeat;

        span {
          margin-left: 36px;
          border-bottom: 2px solid #b796c5;

          @include mq-custom(800px) {
            margin-left: 30px;
          }
        }

        &:hover {
          background: url("../img/menu_1_2.svg");
          background-size: 21px auto;
          background-position: left center;
          background-repeat: no-repeat;

          span {
            color: #b796c5;
          }
        }
      }

      .cafe-link {
        background: url("../img/menu_2.svg");
        background-size: 21px auto;
        background-position: left center;
        background-repeat: no-repeat;

        span {
          margin-left: 36px;
          border-bottom: 2px solid #94d8f1;

          @include mq-custom(800px) {
            margin-left: 30px;
          }
        }

        &:hover {
          background: url("../img/menu_2_2.svg");
          background-size: 21px auto;
          background-position: left center;
          background-repeat: no-repeat;

          span {
            color: #94d8f1;
          }
        }
      }

      .news-link {
        background: url("../img/menu_3.svg");
        background-size: 21px auto;
        background-position: left center;
        background-repeat: no-repeat;

        span {
          margin-left: 36px;
          border-bottom: 2px solid #7dc142;

          @include mq-custom(800px) {
            margin-left: 30px;
          }
        }

        &:hover {
          background: url("../img/menu_3_2.svg");
          background-size: 21px auto;
          background-position: left center;
          background-repeat: no-repeat;

          span {
            color: #7dc142;
          }
        }
      }

      .cinema-link {
        background: url("../img/menu_4.svg");
        background-size: 25px auto;
        background-position: left center;
        background-repeat: no-repeat;

        span {
          margin-left: 40px;
          border-bottom: 2px solid #f05838;

          @include mq-custom(800px) {
            margin-left: 35px;
          }
        }

        &:hover {
          background: url("../img/menu_4_2.svg");
          background-size: 25px auto;
          background-position: left center;
          background-repeat: no-repeat;

          span {
            color: #f05838;
          }
        }
      }

      .kids-link {
        background: url("../img/menu_5.svg");
        background-size: 12px auto;
        background-position: left center;
        background-repeat: no-repeat;

        &:hover {
          background: url("../img/menu_5_2.svg");
          background-size: 12px auto;
          background-position: left center;
          background-repeat: no-repeat;

          span {
            color: #e8a83a;
          }
        }

        span {
          margin-left: 27px;
          border-bottom: 2px solid #e8a83a;

          @include mq-custom(800px) {
            margin-left: 22px;
          }
        }
      }

      .service-link {
        background: url("../img/menu_6.svg");
        background-size: 19px auto;
        background-position: left center;
        background-repeat: no-repeat;

        &:hover {
          background: url("../img/menu_6_2.svg");
          background-size: 19px auto;
          background-position: left center;
          background-repeat: no-repeat;

          span {
            color: #ce6fab;
          }
        }

        span {
          margin-left: 34px;
          border-bottom: 2px solid #ce6fab;

          @include mq-custom(800px) {
            margin-left: 29px;
          }
        }
      }
    }
  }
}

@import "general_elements/rent-form";