#section-map {
  width: 100%;
  max-width: 1920px;
  @include auto;
  position: relative;
  z-index: 10;

  @include mq('tablet') {
    background: #f8f9fb;
  }

  @include mq('phone') {
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 0 25px 0 rgba(.75,.75,.75,.3);
  }

  .container {
    padding: 0;

    @include mq('phone') {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.section-map__map {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-height: 750px;
  @include auto;

  @include mq('phone') {
    min-height: 360px;
  }

  #YMapsID {
    width: 100%;
    height: 750px;

    @include mq('phone') {
      height: 360px;
    }
  }
}

.section-map__address-wrap {
  position: relative;
  z-index: 2;
  margin-top: -217px;
  justify-content: space-between;
  box-shadow: 0 0 25px 0 rgba(.75,.75,.75,.5);

  @include mq('tablet') {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include mq('phone') {
    margin-top: 0;
    box-shadow: none;
  }

  .tabs-cont {
    display: none;
  }

  .tabs-cont.active {
    display: block;
  }

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 65px 30px 40px;
    width: 33%;
    flex: 1 1 33%;
    border-right: 1px solid $light-grey;
    background: white;

    @include mq('desktop') {
      padding: 65px 10px 40px;
    }

    @include mq('tablet') {
      padding: 35px 30px 36px;
      width: 100%;
      flex: 1 1 100%;
      background: #f8f9fb;
      border-right: none;
      border-bottom: 1px solid $light-grey;
    }

    @include mq('phone') {
      padding: 15px 0 26px;
      position: relative;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: space-between;
    }

    &:nth-last-child(1) {
      border-right: none;

      @include mq('phone') {
        border-bottom: none;
      }
    }

    .title {
      text-align: center;

      p {
        font: 18px $DinBold;
        font-weight: bold;
        color: $dark-grey;

        @include mq('phone') {
          font: 16px $DinBold;
          font-weight: bold;
        }
      }
    }

    .desc {
      p {
        font: 14px/18px $DinPro;
        font-weight: 400;
        color: $dark-grey;
        text-align: center;

        @include mq('phone') {
          text-align: left;
          font: 12px/16px $DinPro;
          font-weight: 400;
        }
      }
    }

    .show {
      p {
        font: 14px $DinMedi;
        font-weight: 500;
        color: $green;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        @include mq('phone') {
          font: 12px $DinPro;
          font-weight: 400;
        }
      }
    }

    .nav-tabs {
      @include mq-custom(1150px) {
        flex-wrap: wrap;
        justify-content: safe center;
      }

      @include mq-custom(360px) {
        justify-content: flex-start;
      }

      .tab {
        margin-right: 20px;
        font: 14px $DinMedi;
        font-weight: 500;
        color: #a8a9a9;
        border-bottom: 1px dotted;
        cursor: pointer;

        @include mq(desktop) {
          margin-right: 10px;
        }

        @include mq-custom(1150px) {
          margin-bottom: 10px;
        }

        @include mq('phone') {
          font: 12px $DinMedi;
          font-weight: 500;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }

        &:hover {
          font: 14px $DinMedi;
          font-weight: 500;
          color: $green;
          border-bottom: 1px solid;
        }
      }

      .tab.active {
        font: 14px $DinMedi;
        font-weight: 500;
        color: $green;
        border: none;

        @include mq('phone') {
          font: 12px $DinMedi;
          font-weight: 500;
        }
      }
    }

    .icon {
      @include mq('phone') {
        position: absolute;
        top: 0;
        right: 0;
      }

      img {
        @include mq('phone') {
          max-width: 41px;
        }
      }
    }

    img {
      display: block;
    }
  }
}

.metro-wrap {

  .desc {
    margin-top: 75px;

    @include mq('tablet') {
      margin-top: 20px;
    }
  }

  .show {
    margin-top: 60px;

    @include mq('tablet') {
      margin-top: 20px;
    }
  }

  .icon {
    margin-top: 38px;

    img {
      width: 57px;
    }

    @include mq('tablet') {
      margin-top: 15px;
    }
  }
}

.car-wrap {

  .nav-tabs {
    margin-top: 30px;
  }

  .tabs-cont_wrap {
    margin-top: 30px;
  }

  .icon {
    margin-top: 23px;

    img {
      width: 57px;
    }
  }
}

.bus-wrap {

  .nav-tabs {
    @include mq('tablet') {
      margin-top: 30px;
    }
  }

  .tabs-cont_wrap {
    @include mq('tablet') {
      margin-top: 30px;
    }
  }

  .icon {
    @include mq('tablet') {
      margin-top: 23px;
    }

    img {
      width: 52px;
    }
  }

  .show {

    @include mq('tablet') {
      margin-top: 20px;
    }
  }

  .tabs-cont_wrap {
    .arrow-img {
      margin: 15px 0;

      img {
        display: block;
        width: 12px;
        @include auto;

        @include mq('phone') {
          margin-left: 50px;
        }
      }
    }
  }
}