#shop-center {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  @include auto;
  background: url("../img/shop-center_bg.jpg") center top no-repeat;
  background-size: cover;

  @include mq('desktop') {
    background: url("../img/shop-center_bg-1280.jpg") center top no-repeat;
  }

  @include mq('tablet') {
    background: url("../img/shop-center_bg-768.jpg") center top no-repeat;
  }

  .container {
    justify-content: space-between;

    @include mq('tablet') {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.shop-center__left-part {
  padding-top: 226px;
  width: 50%;
  flex: 1 1 50%;

  @include mq('desktop') {
    padding-top: 176px;
  }

  @include mq('tablet') {
    padding-top: 70px;
    width: 100%;
    flex: 1 1 100%;
  }

  .title {
    h2 {
      font: 36px/48px $DinBold;
      font-weight: bold;
      color: white;

      @include mq('tablet') {
        font: 22px/30px $DinBold;
        font-weight: bold;
      }
    }
  }

  .text {
    margin-top: 60px;

    @include mq('tablet') {
      margin-top: 24px;
    }

    p {
      font: 16px/24px $DinPro;
      font-weight: 400;
      color: white;

      @include mq('tablet') {
        font: 14px/22px $DinPro;
        font-weight: 400;
      }
    }
  }

  .logos {
    margin-top: 65px;

    @include mq('tablet') {
      margin-top: 35px;
    }

    a {
      display: block;
      margin-right: 69px;

      img {
        display: block;

        &:nth-last-child(1) {
          margin-right: 0;
        }

        @include mq('phone') {
          max-height: 45px;
        }
      }
    }
  }
}

.shop-center__right-part {
  padding-top: 226px;
  padding-bottom: 235px;
  width: 50%;
  flex: 1 1 50%;
  justify-content: flex-end;

  @include mq('desktop') {
    padding-top: 176px;
    padding-bottom: 176px;
    width: 100%;
    flex: 1 1 100%;
  }

  @include mq('tablet') {
    padding-top: 40px;
    padding-bottom: 59px;
  }

  @include mq('phone') {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  .element {
    position: relative;
    width: 33.3%;
    min-height: 165px;
    border: 1px solid white;
    transition: all .4s ease;

    &:hover {
      transform: scale(1.1);
    }

    .sc-link_wrap {
      width: 100%;
      height: 100%;
      text-align: center;

      a {
        display: inline-block;
        width: 175px;
        height: 100%;
      }
    }
  }

  .sc-1 {

    .sc-link_wrap {
      a {
        background: url('../img/tz-logo1.png') no-repeat center;
      }
    }

    &:hover {
      background: white;

      .sc-link_wrap {
        a {
          background: url('../img/tz-logo1-a.png') no-repeat center;
        }
      }
    }
  }

  .sc-2 {
    .sc-link_wrap {
      a {
        background: url('../img/tz-logo2.png') no-repeat center;
      }
    }

    &:hover {
      background: white;
      .sc-link_wrap {
        a {
          background: url('../img/tz-logo2-a.png') no-repeat center;
        }
      }
    }
  }

  .sc-3 {
    .sc-link_wrap {
      a {
        background: url('../img/tz-logo3.png') no-repeat center;
      }
    }

    &:hover {
      background: white;
      .sc-link_wrap {
        a {
          background: url('../img/tz-logo3-a.png') no-repeat center;
        }
      }
    }
  }

  .sc-4 {
    .sc-link_wrap {
      a {
        background: url('../img/tz-logo4.png') no-repeat center;
      }
    }

    &:hover {
      background: white;
      .sc-link_wrap {
        a {
          background: url('../img/tz-logo4-a.png') no-repeat center;
        }
      }
    }
  }

  .sc-5 {
    .sc-link_wrap {
      a {
        background: url('../img/tz-logo5.png') no-repeat center;
      }
    }

    &:hover {
      background: white;
      .sc-link_wrap {
        a {
          background: url('../img/tz-logo5-a.png') no-repeat center;
        }
      }
    }
  }

  .sc-6{
    .sc-link_wrap {
      a {
        background: url('../img/tz-logo6.png') no-repeat center;
      }
    }

    &:hover {
      background: white;
      .sc-link_wrap {
        a {
          background: url('../img/tz-logo6-a.png') no-repeat center;
        }
      }
    }
  }
}