#header-menu_open {
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: -1px;
  right: -1px;
  height: calc(100% - 101px);
  margin-top: 101px;

  @include mq-custom(1180px) {
    margin-top: 151px;
    height: calc(100% - 151px);
  }

  @include mq-custom(700px) {
    height: calc(100% - 101px);
    margin-top: 101px;
  }

  @include mq-custom(500px) {
    height: calc(100% - 64px);
    margin-top: 64px;
  }

  @include mq-custom(360px) {
    height: calc(100% - 46px);
    margin-top: 46px;
  }

  .menu-content_wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu_content {
    background: url("../img/menu_bg-left-right.png") center center no-repeat white;

    @include mq-custom(1024px) {
      background: white;
    }

    .menu_center {
      background: url("../img/menu_bg-center.png") center center no-repeat;

      @include mq-custom(1024px) {
        background: none;
      }

      .container {
        padding: 99px 0 147px;

        @include mq-custom(1550px) {
          padding: 79px 40px 127px;
        }

        @include mq('desktop') {
          padding: 40px 20px 40px;
        }

        @include mq-custom(1024px) {
          flex-direction: column;
          padding: 40px 5px 40px;
        }

        @include mq('tablet') {
          padding: 40px 10px 0;
        }

        @include mq-custom(320px) {
          padding: 0 5px;
        }
      }

      .left-part {
        flex: 0 1 auto;

        @include mq-custom(1300px) {
          flex: 1 0 auto;
        }

        @include mq-custom(1024px) {
          flex: 1 1 100%;
        }

        .header_main-nav {
          @include mq('tablet') {
            display: block;
          }

          .nav {
            padding: 0 62px 0 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @include mq-custom(1024px) {
              flex-wrap: wrap;
              flex-direction: row;
              padding: 0 0 0 14px;
            }

            @include mq-custom(500px) {
              padding: 0;
            }

            @include mq-custom(360px) {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }

            .nav-item {
              width: 100%;
              padding: 28px 0;
              border-right: none;
              border-bottom: 1px solid #f0ebeb;
              justify-content: flex-start;

              @include mq-custom(1024px) {
                width: 50%;
                flex: 1 1 50%;
              }

              @include mq-custom(360px) {
                width: 100%;
                flex: 1 1 100%;
                padding: 20px 0;
              }

              &:nth-last-child(1) {
                border-bottom: none;
              }

              &:nth-last-child(2), &:nth-last-child(3) {
                @include mq-custom(1024px) {
                  border-bottom: none;
                }
              }

              &:nth-last-child(3) {
                @include mq('tablet') {
                  border-bottom: 1px solid #f0ebeb;
                }
              }

              a {
                span {
                  margin-left: 64px;
                  font: 20px $DinMedi;
                  font-weight: 500;
                  color: #000;

                  @include mq-custom(600px) {
                    margin-left: 45px;
                    font: 15px $DinMedi;
                    font-weight: 500;
                  }

                  @include mq-custom(360px) {
                    margin-left: 35px;
                  }
                }
              }

              .shop-link {
                background-size: 30px 27px;

                @include mq-custom(600px) {
                  background-size: 21px 19px;
                }
              }

              .cafe-link {
                background-size: 30px 18px;

                @include mq-custom(600px) {
                  background-size: 21px 14px;
                }
              }

              .news-link {
                background-size: 30px 22px;

                @include mq-custom(600px) {
                  background-size: 21px 16px;
                }
              }

              .cinema-link {
                background-size: 30px 30px;

                @include mq-custom(600px) {
                  background-size: 24px 21px;
                }
              }

              .kids-link {
                background-size: 17px 29px;

                @include mq-custom(600px) {
                  background-size: 12px 20px;
                }
              }

              .service-link {
                background-size: 27px 23px;

                @include mq-custom(600px) {
                  background-size: 20px 15px;
                }
              }
            }
          }
        }
      }

      .right-part {
        position: relative;
        background: #f8f9fb;
        flex: 1 1 auto;

        @include mq-custom(1024px) {
          flex: 1 1 100%;
        }

        &:after {
          @include pseudo(2,$left:100%,$right:-100%);
          background: url("../img/menu_bg-right.png") left center no-repeat;

          @include mq-custom(1550px) {
            background: none;
          }
        }

        .top {
          position: relative;
          height: 50%;
          border-bottom: 1px solid white;

          @include mq-custom(640px) {
            flex-direction: column;
          }

          &:after {
            @include pseudo(1,$left:100%,$right:-100%);
            background: #f8f9fb;
          }

          &:before {
            @include mq-custom(1024px) {
              @include pseudo(1,$left:-100%,$right:100%);
              background: #f8f9fb;
            }
          }
        }

        .bottom {
          position: relative;
          height: 50%;

          @include mq-custom(640px) {
            flex-direction: column;
          }

          &:after {
            @include pseudo(1,$left:100%,$right:-100%);
            background: #f8f9fb;
          }

          &:before {
            @include mq-custom(1024px) {
              @include pseudo(1,$left:-100%,$right:100%);
              background: #f8f9fb;
            }
          }
        }

        .element {
          position: relative;
          z-index: 2;
          height: 100%;
          width: 50%;
          flex: 1 0 50%;
          padding-bottom: 86px;
          padding-top: 86px;
          padding-left: 78px;

          @include mq-custom(1550px) {
            padding-bottom: 70px;
            padding-top: 70px;
            padding-left: 60px;
          }

          @include mq('desktop') {
            padding-bottom: 60px;
            padding-top: 60px;
            padding-left: 37px;
          }

          @include mq-custom(1024px) {
            padding-bottom: 40px;
            padding-top: 40px;
            padding-left: 20px;
          }

          @include mq('tablet') {
            padding-left: 0;
          }

          @include mq-custom(640px) {
            width: 100%;
            flex: 1 0 100%;
            justify-content: space-between;
          }

          &:nth-child(1) {
            @include mq('tablet') {
              padding-right: 30px
            }

            @include mq-custom(640px) {
              padding-right: 0;
            }
          }

          .icon_wrap {
            padding-right: 30px;

            @include mq-custom(1024px) {
              padding-right: 20px;
            }

            @include mq-custom(640px) {
              order: 2;
              padding-right: 0;
            }

            img {
              width: 36px;
            }
          }

          .text_wrap {
            @include mq-custom(640px) {
              order: 1;
            }

            .title {
              p {
                font: 20px $DinBold;
                font-weight: 600;
                color: #616161;

                @include mq('tablet') {
                  font: 16px $DinBold;
                  font-weight: 600;
                }

                @include mq-custom(600px) {
                  font: 14px $DinBold;
                  font-weight: 600;
                }
              }
            }

            .text {
              margin-top: 20px;
              p {
                font: 18px $DinPro;
                font-weight: 400;
                color: black;

                @include mq('tablet') {
                  font: 16px $DinPro;
                  font-weight: 400;
                }

                @include mq-custom(600px) {
                  font: 14px $DinPro;
                  font-weight: 400;
                }
              }
            }

            .phone {
              @include mq-custom(1180px) {
                flex-direction: column;
              }

              a {
                font: 18px $DinBold;
                font-weight: 600;
                color: black;
                cursor: pointer;

                @include mq('tablet') {
                  font: 16px $DinBold;
                  font-weight: 600;
                }

                @include mq-custom(600px) {
                  font: 14px $DinBold;
                  font-weight: 600;
                }

                &:nth-last-child(1) {
                  margin-right: 0;
                }
              }
            }

            .link {
              margin-top: 18px;

              a {
                margin-right: 25px;
                font: 18px $DinMedi;
                font-weight: 500;
                color: $green;
                text-decoration: underline;
                cursor: pointer;
                transition: all .3s linear;

                &:hover {
                  color: #027f3d;
                }

                @include mq('tablet') {
                  font: 16px $DinMedi;
                  font-weight: 500;
                }

                @include mq-custom(600px) {
                  font: 14px $DinMedi;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }

  .menu_footer {
    background: #f8f9fb;
    border-top: 1px solid #f0ebeb;

    .container {
      align-items: center;
      justify-content: space-between;
      padding: 40px 0;

      @include mq-custom(1550px) {
        padding: 40px 20px;
      }

      @include mq-custom(1024px) {
        justify-content: safe center;
        flex-wrap: wrap;
      }

      @include mq('tablet') {
        justify-content: space-between;
        padding: 20px 5px;
      }

      @include mq-custom(600px) {
        justify-content: center;
      }
    }

    .footer__logos {
      @include mq-custom(1024px) {
        flex: 0 0 auto;
        margin: 15px 20px;
        order: 2;
      }

      @include mq('tablet') {
        display: none;
        margin: 0;
      }
    }

    .copyright {
      p {
        font: 13px $DinPro;
        font-weight: 400;
        color: #212121;
      }

      @include mq-custom(1024px) {
        flex: 0 0 auto;
        margin: 15px 20px;
        order: 5;
      }

      @include mq('tablet') {
        order: 1;
        margin: 0;
      }

      @include mq-custom(600px) {
        order: 2;
        flex: 1 1 50%;
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 25px;
      }
    }

    .btn-rent_wrap {
      @include btn-more($width:220px,$height:50px);

      @include mq-custom(1024px) {
        flex: 0 0 auto;
        margin: 15px 20px;
        order: 1;
      }

      @include mq('tablet') {
        order: 3;
        margin: 0;
      }

      @include mq-custom(600px) {
        order: 1;
        flex: 1 1 100%;
      }

      button {
        background: $green;
        border: 1px solid $green;
        transition: all .3s linear;

        @include mq-custom(600px) {
          margin: 0 auto;
        }

        @include mq-custom(600px) {
          width: 100%;
        }

        img {
          width: 17px;

          @include mq-custom(600px) {
            margin-left: 5px;
          }
        }

        &:hover {
          background: #027f3d;
          border: 1px solid #027f3d;
        }
      }
    }

    .social-wrap {
      width: auto;
      flex: 0 0 auto;

      @include mq-custom(1024px) {
        order: 4;
        flex: 0 0 auto;
        margin: 15px 20px;
      }

      @include mq('tablet') {
        order: 2;
      }

      @include mq-custom(600px) {
        order: 3;
        flex: 1 1 50%;
        margin: 26px 0 0;
      }

      @include mq-custom(360px) {
        justify-content: center;
      }

      %links {
        margin-right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;

        @include mq-custom(1024px) {
          margin-right: 10px;
        }
      }

      .vk {
        @extend %links;
        background: linear-gradient(0deg, #4a76a8 0%, #628ec0 100%);
        transition: background .3s linear;

        &:hover {
          background: linear-gradient(0deg, $green 0%, $green 100%);
        }

        img {
          width: 28px;
        }
      }

      .fb {
        @extend %links;
        background: linear-gradient(0deg, #4267b2 0%, #355494 100%);
        transition: background .3s linear;

        &:hover {
          background: linear-gradient(0deg, $green 0%, $green 100%);
        }

        img {
          width: 10px;
        }
      }

      .insta {
        @extend %links;
        margin-right: 0;
        background: linear-gradient(0deg, #ee2f41 0%, #f3683f 100%);
        transition: background .3s linear;

        &:hover {
          background: linear-gradient(0deg, $green 0%, $green 100%);
        }

        img {
          width: 21px;
        }
      }
    }

    .footer__intel {
      width: auto;
      flex: 0 0 auto;

      @include mq-custom(1024px) {
        flex: 0 0 auto;
        margin: 15px 20px;
        order: 3;
      }

      @include mq('tablet') {
        display: none;
      }
    }
  }
}
#header-menu_open.active {
  display: block;
}