.page-header {
  width: 100%;
  max-width: 1920px;
  @include auto;
  height: 190px;
  padding: 20px 0 52px;
  background: url('../img/shops_bg.jpg') center center no-repeat;
  background-size: cover;
}

.bread-crumbs {
  align-items: center;
}

.bread-crumbs_wrap {
  margin-left: 14px;

  li {
    font: 12px $DinLight;
    font-weight: 300;
    color: white;
  }

  li.active {
    text-decoration: underline;
  }

  span {
    margin: 0 10px;
    font: 12px $DinLight;
    font-weight: 300;
    color: white;
  }
}

.page-title {
  margin-top: 54px;

  h1 {
    font: 52px $DinBold;
    font-weight: bold;
    color: white;
    text-align: center;

    @include mq('phone') {
      font: 32px $DinBold;
      font-weight: bold;
    }
  }
}