#index__section-5 {
  width: 100%;
  max-width: 1920px;
  @include auto;
  background: url(../img/section-5_bg.jpg) center top no-repeat;
  background-size: cover;

  @include mq('desktop') {
    background: url(../img/section-5_bg-1280.jpg) center top no-repeat;
    background-size: cover;
  }

  @include mq('desktop') {
    background: url(../img/section-5_bg-768.jpg) center top no-repeat;
    background-size: cover;
  }

  .container {
    padding-top: 96px;
    padding-bottom: 107px;

    @include mq('phone') {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 60px;
      padding-bottom: 0;
    }
  }

  .section-5__top-content {
    justify-content: space-between;
  }

  .section-5__title-desc-about {

    @include mq('tablet') {
      width: 100%;
    }

    .title {
      h2 {
        font: 52px $DinBold;
        font-weight: 600;
        color: white;
        text-transform: uppercase;

        @include mq-custom(450px) {
          font: 48px $DinBold;
        }

        @include mq('phone') {
          font: 32px $DinBold;
          font-weight: 600;
        }
      }
    }

    .desc {
      margin-top: 40px;
      margin-bottom: 45px;
      width: 50%;

      @include mq('phone') {
        margin-top: 20px;
        margin-bottom: 25px;
        width: 100%;
      }

      p {
        font: 16px/24px $DinPro;
        font-weight: 400;
        color: white;

        br {
          display: none;
        }
      }

      @include mq(desktop) {
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }

    .btn-more {
      @include btn-more;

      button {
        transition: all .3s linear;

        span {
          background: url('../img/arrow_small_white.svg') 99% center no-repeat;
          background-size: 5px 9px;
          transition: all .3s linear;
        }

        &:hover {
          background: $green;
          border: 1px solid $green;
        }
      }
    }
  }

  .section-5__text {

    @include mq('tablet') {
      display: none;
    }

    .number {
      p {
        font: 203px/150px $DinBlack;
        font-weight: 900;
        letter-spacing: -10px;
        color: white;
        text-transform: uppercase;
      }
    }

    .text {
      p {
        margin-top: 50px;
        font: 26px/36px $DinPro;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
        text-align: right;
      }
    }
  }

  .section-5__content-top {
    margin-top: 115px;
    padding: 71px 0 49px;
    background: #f9f9f9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    @include mq('tablet') {
      margin-top: 134px;
    }

    @include mq('phone') {
      margin-top: 55px;
      padding: 40px 0;
    }

    .btn-all {
      margin-top: 44px;
      @include btn-more (190px,55px,#d7d7d7,none,14px,black);

      button {
        margin: 0 auto;
        transition: all .3s linear;

        span {
          background: url('../img/arrow_small_right.svg') 99% center no-repeat;
          background-size: 5px 9px;
          transition: all .3s linear;
        }

        &:hover {
          background: $green;

          span {
            color: white;
            background: url('../img/arrow_small_white.svg') 99% center no-repeat;
            background-size: 5px 9px;
          }
        }
      }
    }
  }

  .section-5__slider-cafe_nav-wrap {
    position: relative;
    padding: 0 85px 0;

    @include mq('phone') {
      padding: 0;
    }

    .slider-nav {
      @include slider-nav;

      .prev, .next {
        top: 50%;
        transform: translateY(-50%);
      }

      .prev {
        left: 29px;
        background: url("../img/arrow_left_black.svg") center center no-repeat;
        background-size: 16px 26px;
        transition: all .3s linear;
        cursor: pointer;

        &:hover {
          background: url("../img/arrow_left_green.svg") center center no-repeat;
          background-size: 16px 26px;
        }

        &:hover {

        }
      }

      .next {
        right: 29px;
        background: url("../img/arrow_right_black.svg") center center no-repeat;
        background-size: 16px 26px;
        transition: all .3s linear;
        cursor: pointer;

        &:hover {
          background: url("../img/arrow_right_gereen.svg") center center no-repeat;
          background-size: 16px 26px;
        }
      }
    }
  }

  #section-5__slider-cafe {
    justify-content: space-between;

    .slide {
      width: 230px !important;
      height: 268px;
      background: white;
      border: 1px solid #ebebeb;
      border-radius: 20px;
      cursor: pointer;

      @include mq('phone') {
        width: 181px !important;
      }

      &:nth-last-child(1) {
        margin-right: 0;
      }

      .cafe-logo {
        height: 158px;
        border-bottom: 1px solid #ebebeb;

        img {
          display: block;
        }
      }

      .cafe-about {
        padding: 36px 20px 20px;

        .name {
          p {
            font: 16px/22px $DinMedi;
            font-weight: 500;
            color: #311e1e;
          }
        }
      }

      .location-more {
        justify-content: space-between;
        align-items: center;

        .location {
          p {
            font: 12px/22px $DinMedi;
            font-weight: 500;
            color: #7c7c7c;
          }
        }

        .btn-more {
          width: 25px;
          height: 25px;
          padding: 8px 11px;
          border-radius: 50%;
          background: url('../img/shop_left.svg') #00a84f;
        }
      }
    }
  }

  .section-5__slider-banner_wrap {
    position: relative;

    @include mq('phone') {
      padding-bottom: 74px;
    }

    .slider-dots {
      position: absolute;
      z-index: 5;
      width: auto !important;
      bottom: 28px;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 30px;
      background: white;
      justify-content: center;
      border-radius: 20px;

      .dot {
        margin-right: 12px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #d7d7d7;
        cursor: pointer;

        &:hover {
          background: $green;
          transition: all .3s linear;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .dot.active {
        background: $green;
      }
    }
  }

  #section-5__slider-banner {
    .slide {
      overflow: hidden;
      cursor: pointer;

      img {
        display: block;
      }
    }
  }
}