#index__section-6 {
  width: 100%;
  max-width: 1920px;
  @include auto;
  background: url(../img/section-6_arenda_bg.jpg) center top no-repeat;

  @include mq('tablet') {
    background: url(../img/section-6_arenda_bg-768.jpg) center top no-repeat;
    background-size: cover;
  }

  .container {
    padding-top: 156px;
    padding-bottom: 105px;
    justify-content: space-between;

    @include mq-custom(400px) {
      padding-left: 5px;
      padding-right: 5px;
    }

    @include mq-custom(1024px) {
      flex-wrap: wrap;
      padding-top: 59px;
      padding-bottom: 42px;
    }
  }

  .section-6__title-text {

    @include mq('desktop') {
      padding-right: 10px;
      flex: 0 1 60%;
    }

    @include mq-custom(1024px) {
      order: 1;
      flex: 1 1 100%;
    }

    .title {
      h2 {
        font: 52px $DinBold;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        @include mq-custom(450px) {
          font: 48px $DinBold;
        }

        @include mq-custom(500px) {
          font: 32px $DinBold;
          font-weight: bold;
        }
      }
    }

    .text {
      p {
        margin: 25px 0;
        font: 16px/24px $DinPro;
        font-weight: 400;
        color: white;

        @include mq-custom(500px) {
          margin: 20px 0;
        }

        br {
          @include mq-custom(1024px) {
            display: none;
          }
        }
      }
    }
  }

  .section-6__logo {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: white;

    @include mq('desktop') {
      flex: 0 0 auto;
      margin-right: 30px;
    }

    @include mq-custom(1024px) {
      order: 3;
    }

    @include mq-custom(500px) {
      margin-top: 20px;
      width: 125px;
      height: 125px;
    }

    @include mq-custom(360px) {
      width: 100px;
      height: 100px;
      margin-right: 0;
    }

    &:before {
      @include pseudo(1,90px,-90px,auto,auto);
      position: absolute;
      width: 1px;
      height: 55px;
      background: white;

      @include mq-custom(1024px) {
        display: none;
      }
    }

    &:after {
      @include pseudo(1,90px,auto,-90px,auto);
      position: absolute;
      width: 1px;
      height: 55px;
      background: white;

      @include mq-custom(1024px) {
        display: none;
      }
    }

    img {
      display: block;
      width: 82px;

      @include mq-custom(500px) {
        width: 50px;
        height: 54px;
      }
    }
  }

  .section-6__btn {
    @include mq('desktop') {
      flex: 1 1 auto;
    }

    @include mq-custom(1024px) {
      margin-top: 20px;
      order: 2;
    }

    p {
      margin-bottom: 35px;
      font: 26px/36px $DinBold;
      font-weight: bold;
      color: white;
      text-transform: uppercase;

      @include mq-custom(1024px) {
        margin-bottom: 30px;
      }

      @include mq-custom(500px) {
        font: 20px/28px $DinBold;
        font-weight: bold;
      }
    }

    @include btn-more(220px, 50px, $green, $green);

    button {
      transition: all .3s linear;


      @include mq-custom(500px) {
        span {
          padding-right: 0;
        }
      }

      img {
        width: 17px;
        height: 13px;

        @include mq-custom(500px) {
          margin-left: 5px;
        }
      }

      &:hover {
        background: #027f3d;
        border: 1px solid #027f3d;
      }
    }

    @include mq-custom(500px) {
      @include btn-more(180px, 45px, $green, $green);
    }
  }
}