#section-1 {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  @include auto;
  position: relative;

  .mouse {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 71px;
    img {
      display: block;
    }
  }
}

.section-1__slider_nav-wrap {
  position: relative;

  .pagination {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 265px;
    left: 0;

    @include mq-custom(1500px) {
      left: 40px;
    }

    @include mq('tablet') {
      top: auto;
      left: 0;
      bottom: 185px;
    }

    .pagination-wrap {

      @include mq('tablet') {
        display: flex;
      }
    }

    .dots {
      cursor: pointer;

      @include mq('tablet') {
        margin-right: 30px;
      }

      .dot {
        display: block;
        margin-bottom: 30px;
        width: 25px;
        height: 2px;
        background: white;

        @include mq('tablet') {
          margin-bottom: 0;
        }
      }

      .number {
        display: none;
        margin-top: -12px;
        margin-left: 13px;
        font: 22px $DinBold;
        font-weight: bold;
        color: white;

        @include mq('tablet') {
          margin-left: 22px;
        }
      }
    }

    .dots.active {

      @include mq('tablet') {
        margin-right: 47px;
      }

      .number {
        display: block;
      }

      .dot {
        width: 50px;
      }
    }
  }
}

#section-1_slider {

  .slide {
    padding-top: 235px;
    padding-bottom: 314px;
    background: url("../img/index__section-1_bg.jpg") center -160px no-repeat;
    height: 100%;

    @include mq('desktop') {
      background: url("../img/index__section-1_bg-1280.jpg") center top no-repeat;
      padding-top: 185px;
      padding-bottom: 174px;
    }

    @include mq('tablet') {
      padding-bottom: 358px;
      background: url("../img/index__section-1_bg-768.jpg") center -160px no-repeat;
    }

    @include mq-custom(720px) {
      background: url("../img/index__section-1_bg-768.jpg") center top no-repeat;
    }

    @include mq('phone') {
      padding-top: 136px;
      padding-bottom: 325px;
      background: url("../img/index__section-1_bg-414.jpg") center top no-repeat;
    }

    .container {
      position: relative;

      @include mq('phone') {
        padding: 0;
      }

      @include mq-custom(380px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .text {
      margin-left: 160px;

      @include mq('tablet') {
        margin-left: 0;
      }

      p {
        font: 78px/88px $DinBlack;
        font-weight: 900;
        color: white;
        text-transform: uppercase;

        @include mq('desktop') {
          font: 68px/88px $DinBlack;
          font-weight: 900;
        }

        @include mq('tablet') {
          font: 68px/78px $DinBlack;
          font-weight: 900;
        }

        @include mq-custom(650px) {
          font: 58px/68px $DinBlack;
          font-weight: 900;
        }

        @include mq-custom(650px) {
          font: 48px/58px $DinBlack;
          font-weight: 900;
        }

        @include mq('phone') {
          font: 36px $DinBlack;
          font-weight: 900;
        }

        @include mq-custom(380px) {
          font: 30px $DinBlack;
          font-weight: 900;
        }
      }
    }

    .btn-more {
      margin-top: 50px;
      margin-left: 160px;

      @include mq('tablet') {
        margin-top: 101px;
        margin-left: 0;
      }

      @include mq('phone') {
        margin-top: 50px;
      }

      @include btn-more;

      img {
        width: 5px;
      }
    }
  }
}