$breakpoints: (
        "phone":        414px,
        "tablet":       768px,
        "desktop":      1280px,
        "desktop-wide": 1920px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq-custom($width, $type: max) {
  @if $type == min {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin pseudo($z:-1,$left:0,$top:0,$bottom:0,$right:0) {
  position: absolute;
  content: '';
  z-index: $z;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
}

/* extends */

@mixin btn-more($width: 190px, $height: 55px, $border-color: white, $background: none, $font-size: 14px, $font-color: white) {
  button {
    width: $width;
    height: $height;
    border: 1px solid $border-color;
    border-radius: 30px;
    background: $background;
    cursor: pointer;
  }

  span {
    display: block;
    font: $font-size $DinBold;
    font-weight: bold;
    color: $font-color;
  }

  img {
    display: block;
    margin-left: 14px;
  }
}

@mixin slider-nav {
  .prev, .next {
    position: absolute;
    width: 16px;
    height: 26px;
    top: 50%;
    transform: translateY(-50%);

    span {
      position: relative;
    }
  }
}
@mixin placeholder {
  ::-webkit-input-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* webkit */
  ::-moz-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* Firefox 19+ */
  :-moz-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* Firefox 18- */
  :-ms-input-placeholder {
    opacity:1;
    font: 15px $DinMedi;
    font-weight: 500;
    color: $grey;
  }/* IE */

  :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  :focus:-ms-input-placeholder      {opacity:0;}/* IE */
}